@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$slate-300: rgb(213, 225, 239);
$slate-500: rgb(104, 119, 141);
$slate-900: rgb(31, 49, 79);
$blue-600: rgb(44, 125, 250);
$blue-500: rgb(54, 133, 250);
$white: rgb(255, 255, 255);
$preset-font: "Outfit", sans-serif;
$preset-size-1: 22px;
$preset-size-2: 15px;
$preset-weigth-1: bold;
$preset-line-1: 120%;
$preset-line-2: 140%;
$preset-letter-2: 0.2px;
