body {
  display: grid;
  grid-template-rows: 1rem 1fr 1rem;
  grid-template-areas:
    "."
    "main"
    "footer";
  height: 100dvh;
  font-family: $font-family;
  font-size: $font-size-paragraph;
  background-color: $white;
}

h1,
h2 {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
main {
  grid-area: main;
  justify-self: center;
  align-self: center;
}

footer {
  grid-area: footer;
}
