@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

$font-family: "Red Hat Display", sans-serif;
$font-size-paragraph: 16px;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;

// Primary

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

//  Neutral

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
