$font-family: "Inter", sans-serif;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-size-large: 24px;
$font-size-main: 14px;

$grey-900: hsl(0, 0%, 8%);
$grey-800: hsl(0, 0%, 12%);
$grey-700: hsl(0, 0%, 20%);
$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
