@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$fraunces-family-font: "Fraunces", serif;
$montserrat-family-font: "Montserrat", sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;
$main-font-size: 14px;
$secondary-font-size: 16px;

$body-bg-color: hsl(30, 38%, 92%);
$card-bg-color: hsl(0, 0%, 100%);

$accent-color: hsl(158, 36%, 37%);
$hover-color: hsl(158, 63%, 16%);

$primary-font-color: hsl(212, 21%, 14%);
$secondary-font-color: hsl(228, 12%, 48%);
