@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/Figtree-Italic-VariableFont_wght.ttf)
    format("trueType");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/Figtree-VariableFont_wght.ttf) format("trueType");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/static/Figtree-SemiBold.ttf) format("trueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/static/Figtree-ExtraBold.ttf) format("trueType");
  font-weight: 800;
  font-style: normal;
}
