$bg-yellow: rgb(244, 208, 78);
$bg-grey-950: rgb(17, 17, 17);
$bg-grey-500: rgb(107, 107, 107);
$bg-white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$font-family: "Figtree", sans-serif;

$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;

$font-style-normal: normal;
$font-style-italic: italic;

$size-preset-1: 24px;
$size-preset-2: 16px;
$size-preset-3: 14px;
$size-preset-main: 12px;

$line-preset: 150%;
