.card {
  width: 327px;
  border-radius: 20px;
  background-color: $very-pale-blue;
  box-shadow: 0px 7px 48px -16px $desaturated-blue;
  overflow: hidden;
  &__header {
    background-image: url(../../images/illustration-hero.svg);
    background-size: cover;
    height: 162px;
  }
  &__content {
    @include flex(column, center, center);
    gap: 40px;
    padding: 24px;
  }
  &__summary {
    @include flex(column, center, center);
    gap: 24px;
    text-align: center;
  }
  &__title {
    color: $dark-blue;
    font-weight: $font-weight-black;
  }

  &__text {
    letter-spacing: 0.01em;
  }
  &__plan {
    @include flex(row, space-around, center);
    width: 100%;
  }
  &__type {
    color: $dark-blue;
    font-weight: $font-weight-bold;
  }
  &__change {
    display: block;
    padding-left: 15px;
    font-weight: $font-weight-medium;

    &:hover,
    &:focus {
      text-decoration: none;
      color: rgba($bright-blue, 0.7);
    }
  }
  &__buttons {
    @include flex(column, center, center);
    width: 100%;
    gap: 5px;
  }

  &__item {
    width: 100%;
  }
}

@include desktop-screen {
  .card {
    width: 450px;
    &__header {
      height: 220px;
    }
    &__content {
      @include flex(column, center, center);
      gap: 45px;
      padding: 40px;
    }
    &__summary {
      gap: 28px;
    }
    &__title {
      font-size: 25px;
    }

    &__change {
      padding-left: 20px;
    }
  }
}
